*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Background Video Style */
.hero{
     width: 100%;
     height: 100dvh;
     display: flex;
     justify-content: center;
     align-items: center;
     
}
.content{

    
}
.vdo{
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: -1;
}



@media (min-aspect-ratio: 16/9) {
  video {
    width: 100%;
    height: auto;
  }
}
@media (max-aspect-ratio: 16/9) {
  video {
    width: auto;
    height: 100%;
  }
}